Package: ch.ringwald.synergyclient
Name: iSynergyClient
Section: Networking
Installed-Size: 67
Maintainer: BigBoss <bigboss@thebigboss.org>
Architecture: iphoneos-arm
Version: 0.9-2
Depends: jp.ashikase.mousesupport (>= svn.r115-1), ch.ringwald.hidsupport (>= 0.5), com.myrepospace.thenorth.orientationnotify (>= 0.1.0)
Description: 
 Synergy+ lets you easily share a single mouse and
 keyboard between multiple computers with different
 operating systems, without special hardware.
 SynergyClient provides an independent client
 of the Synergy protocol for the iOS. 
 More info on Synergy+ http://code.google.com/p/synergy-plus/
 This package has additionally been updated to include patches 
 for keyboard input and detecting rotation events. This package
 comes with no support, and is a modified version of synergy-plus.
Author: Matthias Ringwald <iphone@ringwald.ch>
dev: mringwald
Maintainer: North Overby <north.overby@gmail.com>
Tag: purpose::extension
